name: publish develop image 
on:
  push:
    branches:
      - develop

jobs:
  publish-docker-image:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build the pgsql Docker image
      run: |
         docker build . --tag ghcr.io/openimis/openimis-pgsql:develop
         docker push ghcr.io/openimis/openimis-pgsql:develop